---
import Container from '../../../components/container.astro'
import Layout from '../../../layouts/Layout.astro'
import H2 from '../../../components/ui/h2.astro'
import ToolsCard from '@/components/tools-card.astro'
import NextjsIcon from '@/components/icons/next-js-icon'
import TypeScriptIcon from '@/components/icons/typescript-icon'
import TailwindIcon from '@/components/icons/tailwind-icon'
import HookFormIcon from '@/components/icons/hookform-icon'
import ZodIcon from '@/components/icons/zod-icons'
import JavaScriptIcon from '@/components/icons/javascript-icon'
import VitestIcon from '@/components/icons/vitest-icon'
import PlaywrightIcon from '@/components/icons/play-wright-icon'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import ProjectivaIcon from 'public/projectiva-icon'
import { Dot } from 'lucide-react'
import { Image } from 'astro:assets'
import dashboard from 'public/dashboard.jpg'
import dashboard2 from 'public/dashboard2.jpg'

export function getStaticPaths() {
  return [
    { params: { lang: 'pt_br' } },
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ]
}

const tools = [
  {
    name: 'Next.js',
    icon: NextjsIcon,
  },
  {
    name: 'TypeScript',
    icon: TypeScriptIcon,
  },
  {
    name: 'Tailwind CSS',
    icon: TailwindIcon,
  },
  {
    name: 'React Hook Form',
    icon: HookFormIcon,
  },
  {
    name: 'Zod',
    icon: ZodIcon,
  },
  {
    name: 'JavaScript',
    icon: JavaScriptIcon,
  },
  {
    name: 'Vitest',
    icon: VitestIcon,
  },
  {
    name: 'Playwright',
    icon: PlaywrightIcon,
  },
]

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const impacts = [
  t('compresync.impact_1'),
  t('compresync.impact_2'),
  t('compresync.impact_3'),
  t('compresync.impact_4'),
  t('compresync.impact_5'),
]

const learnings = [
  t('compresync.learning_1'),
  t('compresync.learning_2'),
  t('compresync.learning_3'),
  t('compresync.learning_4'),
  t('compresync.learning_5'),
]
---

<Layout>
  <div class="my-24">
    <div
      class="relative h-[39.25rem] w-full bg-zinc-100 dark:bg-zinc-800/30"
      transition:name={'image-selco'}
    >
      <div class="absolute inset-0 flex items-center justify-center">
        <ProjectivaIcon />
      </div>
    </div>

    <Container class="my-10 space-y-10">
      <div class="space-y-6">
        <H2>
          {t('compresync.title')}
        </H2>
        <p>{t('compresync.desc')}</p>
      </div>
      <div class="flex items-start justify-between">
        <div>
          <strong>{t('work.position')}</strong>
          <p>
            {t('work.role')}
          </p>
        </div>
        <div>
          <strong>{t('work.customer')}</strong>
          <p>Selco</p>
        </div>
        <div>
          <strong>{t('work.timeline')}</strong>
          <p>
            {t('compresync.timeline')}
          </p>
        </div>
        <div>
          <strong>{t('work.level')}</strong>
          <p>
            {t('compresync.level')}
          </p>
        </div>
      </div>
    </Container>

    <section class="bg-zinc-800 text-zinc-100 dark:bg-zinc-700">
      <Container class="space-y-8 py-10">
        <H2>{t('work.impact')}</H2>
        <div class="grid grid-cols-[40px_1fr] items-center gap-y-4">
          {
            impacts.map((impact) => (
              <>
                <Dot size={32} className="text-red-500" />
                <div>{impact}</div>
              </>
            ))
          }
        </div>
      </Container>
    </section>

    <section class="bg-zinc-100 py-10 dark:bg-zinc-800">
      <Container class="space-y-8">
        <H2>{t('work.learnings')}</H2>
        <div class="grid grid-cols-[40px_1fr] items-center gap-y-4">
          {
            learnings.map((learning) => (
              <>
                <Dot size={32} className="text-red-500" />
                <div>{learning}</div>
              </>
            ))
          }
        </div>
      </Container>
    </section>

    <Container class="my-10 space-y-20">
      <div class="space-y-8">
        <H2>{t('work.techs')}</H2>
        <ToolsCard tool={tools} />
      </div>
      <div class="space-y-8">
        <H2>{t('work.gallery')}</H2>
        <div class="grid gap-4 md:grid-cols-2">
          <Image
            class="h-[330px] w-full rounded-lg object-cover ring-1 ring-zinc-200 dark:ring-zinc-800"
            src={dashboard}
            alt="dashboard"
            height={325}
            width={488}
          />
          <Image
            class="h-[330px] w-full rounded-lg object-cover ring-1 ring-zinc-200 dark:ring-zinc-800"
            src={dashboard2}
            alt="dashboard"
            height={325}
            width={488}
          />
        </div>
      </div>
    </Container>
  </div>
</Layout>
