---
import { Image } from "astro:assets";
import coffeeShop from "@/assets/work/coffee-shop.png";
import pizzaShop from "@/assets/work/pizza-shop.png";
import { Card } from "../ui/card";

const projects = [
  {
    title: "Pizza Shop",
    src: pizzaShop,
    subtitle: "A pizza shop website",
    description: "A pizza shop website",
  },
  {
    title: "Coffee Shop",
    src: coffeeShop,
    subtitle: "A pizza shop website",
    description: "A pizza shop website",
  },
];
---

<section class="space-y-8">
  <h2 class="font-bold text-2xl">UI/UX, Projects, AI</h2>

  <article class="grid grid-cols-3 gap-x-6 gap-y-10">
    {
      projects.map((project) => (
        <Card.Root>
          <Image
            src={project.src}
            height={291}
            width={341}
            alt={project.title}
            class="rounded-xl w-full"
          />
          <Card.Container>
            <div>
              <Card.Title>{project.title}</Card.Title>
              <Card.Subtitle>{project.subtitle}</Card.Subtitle>
            </div>
            <Card.Description>{project.description}</Card.Description>
          </Card.Container>
        </Card.Root>
      ))
    }
  </article>
</section>
