---
import { Image } from "astro:assets";
import mave from "../../../public/mave-cover.jpg";
import { Card } from "../ui/card";
import projectiva from "../../../public/projectiva-cover.jpg";

const work = [
  {
    title: "Desenvolvedor Front-end",
    subtitle: "Projectiva Holding",
    label: "Projectiva",
    src: projectiva,
  },
  {
    title: "Desenvolvedor Front-end",
    subtitle: "Mave Tecnologia",
    label: "Mave",
    src: mave,
  },
];

const formatHref = (title: string) => {
  return title.toLowerCase();
};
---

<section class="space-y-8">
  <h2 class="font-bold text-2xl">Experiência</h2>

  <article class="grid md:grid-cols-2 gap-x-6 gap-y-10">
    {
      work.map((job) => (
        <Card.Root>
          <a href={`/work/${formatHref(job.label)}`} class="block">
            <Image
              src={job.src}
              alt=""
              class="rounded-xl w-full aspect-video object-cover"
              width={500}
              height={400}
              transition:name={`image-${formatHref(job.label)}`}
            />
          </a>
          <Card.Container>
            <div class="space-y-1">
              <Card.Title>{job.title}</Card.Title>
              <Card.Subtitle>{job.subtitle}</Card.Subtitle>
            </div>
          </Card.Container>
        </Card.Root>
      ))
    }
  </article>
</section>
