---
import { Image } from "astro:assets";
import gremio from "../../../public/gremio.png";
import { Card } from "../ui/card";

const work = [
	{
		title: "Front-end Development",
		subtitle: "Projectiva",
		description: "Welcome to Astro",
		src: gremio,
	},
	{
		title: "Front-end Development",
		subtitle: "Mave",
		description:
			"Developed new features on soccer websites like Grêmio FBPA.",
		src: gremio,
	},
];

const formatHref = (title: string) => {
	return title.toLowerCase();
};
---

<section class="space-y-8">
	<h2 class="font-bold text-2xl">Selected Work</h2>

	<article class="grid md:grid-cols-2 gap-x-6 gap-y-10">
		{
			work.map((job) => (
				<Card.Root>
					<a href={`/work/${formatHref(job.subtitle)}`} class="block">
						<Image
							src={job.src}
							alt=""
							class="rounded-xl w-full"
							width={500}
							height={400}
							transition:name={`image-${formatHref(job.subtitle)}`}
						/>
					</a>
					<Card.Container>
						<div class="space-y-1">
							<Card.Title>{job.title}</Card.Title>
							<Card.Subtitle>{job.subtitle}</Card.Subtitle>
						</div>
						<Card.Description>{job.description}</Card.Description>
					</Card.Container>
				</Card.Root>
			))
		}
	</article>
</section>
